---
layout: page
title: News
---
{% for post in paginator.posts %}
  {% if post.categories contains 'news' %}
	<div style="margin-bottom:100px;">
    <span style="text-align:center;">
		<h3 class="title"><a style="color:rgba(33,33,33,1);font-size:45px;line-height:1.2;" href="{{ post.url }}">{{ post.title }}</a></h3>
		<p class="meta">{{ post.date | date: "%B %-d, %Y" }}</p>
  </span><br>
		<div class="entry">
			{{ post.content }}
		</div>
	</div>
  {% endif %}
{% endfor %}

<div style="text-align:center;word-spacing:10px;">
{% if paginator.total_pages > 1 %}
<div>
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" style="word-spacing:normal;">
      &laquo; Prev
    </a>
  {% else %}
    <span style="word-spacing:normal;">&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <strong>{{ page }}</strong>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | relative_url }}">
        {{ page }}
      </a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">
        {{ page }}
      </a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" style="word-spacing:normal;">
      Next &raquo;
    </a>
  {% else %}
    <span style="word-spacing:normal;">Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
</div>
