---
layout: page
title: Events
permalink: /events/
---
{% for event in site.events %}
  {% if event.status contains 'upcoming' %}
    {% if event.date >= site.time %}
      <a href="{{ event.url }}"><div class="date-box"><p style="font-weight:300;">{{ event.date | date: "%b" }}<br><span style="font-size:32px;">{{ event.date | date: "%e" }}</span></p></div></a>
      <div style="padding-left:107px;margin-bottom:60px;" id="events-main-info">
      <a href="{{ event.url }}"><h2>{{ event.title }}</h2></a>
      <p>{{ event.date | date: "%A" }}, {{ event.date | date_to_long_string: "ordinal", "US" }}<br>
        {{ event.time }}</p>
      </div>
      <br>
    {% endif %}
  {% endif %}
{% endfor %}


<a href="https://calendar.google.com/calendar/embed?src=nycgdc@protonmail.com">Subscribe to the NYC General Defense Committee (GDC) Google Calendar.</a><br>
Email <a href="mailto:nycgdc@protonmail.com">nycgdc@protonmail.com</a> (<a href="{{site.baseurl}}/assets/keys/publickey.nycgdc@protonmail.com.asc">public key</a>) to submit radical events in and around New York City to the NYC GDC Calendar.
